<h1>
  <a href="/">Christian Nunciato</a>
</h1>
<div class="links">
  <ul>
      <li><a href="/photos/">Photos</a></li>
      <li><a href="/videos/">Videos</a></li>
      <li><a href="/sounds/">Sounds</a></li>
      <li><a href="/words/">Words</a></li>
      <li><a href="/collections/">Collections</a></li>
      <li class="about"><a href="/about/">About</a></li>
      <li class="social">
          <a href="https://twitter.com/cnunciato" title="Twitter"><i class="fab fa-twitter"></i></a>
          <a href="https://instagram.com/cnunciato" title="Instagram"><i class="fab fa-instagram"></i></a>
          <a href="https://vimeo.com/cnunciato" title="Vimeo"><i class="fab fa-vimeo"></i></a>
          <a href="https://github.com/cnunciato" title="GitHub"><i class="fab fa-github"></i></a>
          <a href="{{ .Site.RSSLink }}" title="RSS"><i class="fas fa-rss"></i></a>
      </li>
    </ul>
    <ul>

    </ul>
</div>
