<div class="media-container">
    <a href="{{ replace .Params.photo.url "s3/" $.Site.Params.mediaRoot }}" target="_blank">
        <img src="{{ replace .Params.photo.url "s3/" $.Site.Params.mediaRoot }}" alt="{{ .Params.photo.caption }}">
    </a>

    {{ if .Params.photo.created }}
        <small class="left">
            {{ dateFormat "January 2, 2006 ・ 3:04 PM MST" (time .Params.photo.created).Local}}
            {{ if .Params.photo.exif.gps }}
                ・
                <!-- https://developers.google.com/maps/documentation/urls/guide -->
                <a href="https://www.google.com/maps/search/?api=1&zoom=5&query={{ replace .Params.photo.exif.gps ' ' ',' }}">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
            {{ end }}
        </small>
    {{ end }}

    {{ if .Params.photo.exif }}
        <small class="right">
            {{ .Params.photo.exif.make }}
            {{ replace .Params.photo.exif.model .Params.photo.exif.make "" }}
            {{ if .Params.photo.exif.iso }}&bull; ISO {{ .Params.photo.exif.iso }}{{ end }}
            {{ if .Params.photo.exif.aperture }}&bull; f{{ .Params.photo.exif.aperture }}{{ end }}
            {{ if .Params.photo.exif.shutter_speed }}&bull; {{ .Params.photo.exif.shutter_speed }} sec {{ end }}
            {{ if .Params.photo.exif.focal_length }} &bull; {{ .Params.photo.exif.focal_length }}{{ end }}
        </small>
    {{ end }}
</div>
<p class="caption">
    {{ .Params.photo.caption | markdownify }}
</p>
