<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@cnunciato" />
        <meta name="twitter:creator" content="@cnunciato" />
        {{ block "opengraph" . }}
        {{ end }}
        <title>
            {{ block "title" . }}
                {{ .Site.Title }}
            {{ end }}
        </title>
        <meta name="description" content="">
        <link rel="stylesheet" href="/css/main.css">
        <script src="/js/main.js"></script>
        <script src="/js/app.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
        {{ block "rss" . }}
        {{ end }}
  </head>
  <body class="{{ .Section }} {{ .Kind }}">
        <nav class="header">
            <header>
                {{ partial "header" }}
            </header>
        </nav>
        {{ block "main" . }}
            <main></main>
        {{ end }}
        <nav class="footer">
            <footer>
                {{ partial "footer" . }}
            </footer>
        </nav>
        <script src="/js/main.js"></script>
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-33874507-2','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
