{{ define "main" }}
    <main>
        <section class="heading">

            <!-- Date -->
            {{ partial "date" . }}

            <!-- Title -->
            {{ partial "title" . }}

            <!-- Description -->
            <h2>{{ .Description }}</h2>

        </section>
        <hr>
        <section>
            {{ .Content }}
        </section>
        <section>
            {{ partial "tags" . }}
        </section>
    </main>
{{ end }}

{{ define "title" }}
    {{ if .Page.Title }}
        {{ .Page.Title }}
    {{ else }}
        Untitled
    {{ end }}
    | {{ .Site.Title }}
{{ end }}
