{{ define "main" }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@cnunciato" />
  <meta name="twitter:title" content="Small Island Developing States Photo Submission" />
  <meta name="twitter:description" content="View the album on Flickr." />
  <meta name="twitter:image" content="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg" />
  <main>
    <section class="heading">
      <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
      <h1>{{ .Title }}</h1>
      {{ if .Description }}
        <h2>{{ .Description }}</h2>
      {{ end }}
    </section>
    <hr>
    <section>
      {{ .Content }}
    </section>
    <section>
      {{ partial "tags" . }}
    </section>
  </main>
{{ end }}

{{ define "title" }}
  {{ if .Page.Title }}
    {{ .Page.Title }}
  {{ else }}
    Untitled
  {{ end }}
  | {{ .Site.Title }}
{{ end }}
