{{ define "opengraph" }}
    {{ if .Title }}
        <meta property="og:title" content="{{ .Title }}" />
    {{ else }}
        <meta property="og:title" content="Untitled" />
    {{ end }}
    <meta property="og:image" content="{{ replace .Params.video.preview "s3/" $.Site.Params.mediaRoot }}" />
    <meta property="og:video" content="{{ replace .Params.video.url "s3/" $.Site.Params.mediaRoot }}" />
{{ end }}

{{ define "main" }}
    <main>
        <section class="heading">

            <!-- Date -->
            <time datetime="{{ .Date.Local.Format "2006-01-02" }}">{{ .Date.Local.Format "January 2, 2006" }}</time>

            <!-- Title -->
            <h1>{{ .Title }}</h1>

            <!-- Description -->
            <h2>{{ .Description }}</h2>
        </section>
        <hr>
        <section>
            {{ partial "video" . }}
        </section>
        <section>
            {{ .Content }}
        </section>
        <hr>
        <section class="links">
            {{ partial "links" . }}
        </section>
        <section>
            {{ partial "categories" . }}
            {{ partial "tags" . }}
        </section>
    </main>
{{ end }}

{{ define "title" }}
    {{ .Page.Title }} | {{ .Site.Title }}
{{ end }}
