{{ define "main" }}
    <main>
        <h1>Sounds</h1>
        <p>
            I've always felt sound was underrepresented on the web. I carry a
            <a href="http://tascam.com/product/dr-05/">Tascam DR-05</a> around with me in
            my gear bag, and if find I'm somewhere the sound is interesting, I'll just
            start recording. Occasionally I pick up something worth sharing.
        </p>
        <hr>
        {{ range .Paginator.Pages }}
            <section>

                <!-- Date -->
                {{ partial "date" . }}

                <div>
                    <div>
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ replace .Params.sound.preview "s3/" $.Site.Params.mediaRoot }}" title="{{ .Params.description }}" alt="{{ .Params.photo.caption }}">
                        </a>
                    </div>
                    <div>

                        <!-- Title -->
                        {{ partial "list-items/title" . }}

                        <!-- Description -->
                        <h3>{{ .Description }}</h3>

                        <!-- Duration -->
                        <p class="item-count">
                            <i class="fas fa-headphones"></i>
                            {{ ((time .Params.sound.duration).Format "04:05") }}
                        </p>
                    </div>
                </div>

            </section>
            <hr>
        {{ end }}
    </main>
{{ end }}

{{ define "title" }}
    {{ title .Section }} | {{ .Site.Title }}
{{ end }}

{{ define "rss" }}
    {{ if .RSSLink }}
        <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ title .Section }} | {{ .Site.Title }}" />
    {{ end }}
{{ end }}
