{{ define "main" }}
    <main>
        <section>

            <!-- Date -->
            {{ partial "date" . }}

            <!-- Title -->
            {{ partial "title" . }}

        </section>
        <section>
            {{ .Content }}
            &mdash; {{ .Params.quotee }}
        </section>
        <section>
            {{ partial "categories" . }}
            {{ partial "tags" . }}
            {{ partial "links" . }}
        </section>
    </main>
{{ end }}

{{ define "title" }}
    {{ .Page.Title }} | {{ .Site.Title }}
{{ end }}
