{{ define "main" }}
  <main>
    <h1>Mobiles</h1>
    <p>
      Pictures and other things taken on the go &mdash; my own personal Instagram.
    </p>
    <p>
      One of these days, I'll write a post about how I do this,
      because it's actually pretty cool: I take pictures with my iPhone, send them to a special email address,
      and a parser I wrote with <a href="https://www.pulumi.com">Pulumi</a> (and a handful of other things)
      handles the message, makes all the thumbnails, creates a new page, commits it on
      <a href="https://github.com/cnunciato/website">GitHub</a>,
      and deploys everything to the cloud, all without any intervention from me. Neat, right? Computers FTW.
    </p>
    <hr>
    {{ range (.Paginator 50).Pages }}
      <section>
        <time datetime="{{ .Date.Local.Format "2006-01-02" }}">{{ .Date.Local.Format "January 2, 2006" }}</time>
        <h2>
          <a href="{{ .RelPermalink }}">
            {{ if .Title }}
              {{ .Title }}
            {{ else }}
              Untitled
            {{ end }}
          </a>
        </h2>
        <h3>
          {{ .Description }}
        </h3>
        {{ if .Params.photo }}
          <a href="{{ .RelPermalink }}" title="{{ .Title }}">
            <img src="{{ replace .Params.photo.preview "s3/" .Site.Params.mediaRoot }}" alt="{{ .Params.photo.caption }}">
          </a>
          <p class="item-count">
            <!-- <i class="fas fa-camera"></i> -->
          </p>
        {{ end }}
        {{ if .Params.video }}
          <a href="{{ .RelPermalink }}" title="{{ .Title }}">
            <img src="{{ replace .Params.video.preview "s3/" .Site.Params.mediaRoot }}" alt="{{ .Params.video.caption }}">
          </a>
          <p class="item-count">
            <i class="fas fa-video"></i>
            {{ ((time .Params.video.duration).Format "04:05") }}
          </p>
        {{ end }}
        {{ if .Params.sound }}
          {{ if .Params.sound.photo }}
            {{ if .Params.sound.photo.preview }}
              <a href="{{ .RelPermalink }}" title="{{ .Title }}">
                <img src="{{ replace .Params.sound.photo.preview "s3/" .Site.Params.mediaRoot }}">
              </a>
            {{ end }}
          {{ end }}
          <p class="item-count">
            <i class="fas fa-headphones"></i>
            {{ ((time .Params.sound.duration).Format "04:05") }}
          </p>
        {{ end }}
      </section>
      <hr>
    {{ end }}
  </main>
{{ end }}

{{ define "title" }}
  {{ title .Section }} | {{ .Site.Title }}
{{ end }}

{{ define "rss" }}
  {{ if .RSSLink }}
  <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ title .Section }} | {{ .Site.Title }}" />
  {{ end }}
{{ end }}
