{{ define "main" }}
  <main>
    <section class="heading">
      <time datetime="{{ .Date.Local.Format "2006-01-02" }}">{{ .Date.Local.Format "January 2, 2006" }}</time>
      <h1>{{ .Title }}</h1>
      {{ if .Description }}
        <h2>{{ .Description }}</h2>
      {{ end }}
    </section>
    <hr>

    {{ if .Params.photo }}
      <section>
        <div class="media-container">
          <a href="{{ replace .Params.photo.url "s3/" $.Site.Params.mediaRoot }}" target="_blank">
            <img src="{{ replace .Params.photo.url "s3/" $.Site.Params.mediaRoot }}" alt="{{ .Params.photo.caption }}">
          </a>
          {{ if .Params.photo.created }}
            <small class="left">
              {{ dateFormat "January 2, 2006 ・ 3:04 PM MST" (time .Params.photo.created).Local}}
              {{ if .Params.photo.exif.gps }}
                ・
                <!-- https://developers.google.com/maps/documentation/urls/guide -->
                <a href="https://www.google.com/maps/search/?api=1&zoom=5&query={{ replace .Params.photo.exif.gps ' ' ',' }}">
                  <i class="fas fa-map-marker-alt"></i>
                </a>
              {{ end }}
            </small>
          {{ end }}
          {{ if .Params.photo.exif }}
            <small class="right">
              {{ .Params.photo.exif.make }}
              {{ replace .Params.photo.exif.model .Params.photo.exif.make "" }}
              {{ if .Params.photo.exif.iso }}&bull; ISO {{ .Params.photo.exif.iso }}{{ end }}
              {{ if .Params.photo.exif.aperture }}&bull; f{{ .Params.photo.exif.aperture }}{{ end }}
              {{ if .Params.photo.exif.shutter_speed }}&bull; {{ .Params.photo.exif.shutter_speed }} sec {{ end }}
              {{ if .Params.photo.exif.focal_length }} &bull; {{ .Params.photo.exif.focal_length }}{{ end }}
            </small>
          {{ end }}
        </div>
        <p class="caption">
          {{ .Params.photo.caption | markdownify }}
        </p>
      </section>
    {{ end}}

    {{ if .Params.video }}
      <section>
        <div class="media-container">
          <video
            src="{{ replace .Params.video.url "s3/" $.Site.Params.mediaRoot }}"
            alt="{{ .Params.video.caption }}"
            {{ if .Params.video.poster }}poster="{{ replace .Params.video.poster "s3/" $.Site.Params.mediaRoot }}"{{ end }}
            {{ if .Params.video.controls }} controls {{ end }}
            {{ if .Params.video.muted }} muted {{ end }}
            {{ if .Params.video.autoplay }} autoplay {{ end }}
            {{ if .Params.video.loop }} loop {{ end }}
            {{ if .Params.video.loop }} loop {{ end }}
          >
          </video>

          {{ if .Params.video.created }}
            <small class="left">
              {{ dateFormat "January 2, 2006 ・ 3:04 PM MST" (time .Params.video.created).Local}}
              {{ if .Params.video.exif.gps }}
                ・
                <a href="https://www.google.com/maps/search/?api=1&query={{ replace .Params.video.exif.gps ' ' ',' }}">
                  <i class="fas fa-map-marker-alt"></i>
                </a>
              {{ end }}
            </small>
          {{ end }}

          {{ if .Params.video.exif }}
            <small class="right">
              {{ .Params.video.exif.make }}
              {{ replace .Params.video.exif.model .Params.video.exif.make "" }}
            </small>
          {{ end }}
        </div>
        <p class="caption">
          {{ .Params.video.caption | markdownify }}
        </p>
      </section>
    {{ end }}

    <section>
      {{ .Content }}
    </section>
    <hr>
    <section class="links">
      {{ partial "links" . }}
    </section>
    <section>
      {{ partial "categories" . }}
      {{ partial "tags" . }}
    </section>
  </main>
{{ end }}

{{ define "title" }}
  {{ if .Page.Title }}
    {{ .Page.Title }}
  {{ else }}
    Untitled
  {{ end }}
  | {{ .Site.Title }}
{{ end }}
