{{ define "main" }}
    <main>
        <h1>Words</h1>
        <p>
            Occasionally, I also write things.
        </p>
        <hr>
        {{ range .Paginator.Pages }}
            <section>

                <!-- Date -->
                {{ partial "date" . }}

                <div>
                    <div>
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ replace .Params.photo.preview "s3/" $.Site.Params.mediaRoot }}" title="{{ .Params.photo.caption }}" alt="{{ .Params.photo.caption }}">
                        </a>
                    </div>
                    <div>

                        <!-- Title -->
                        <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>

                        <!-- Description -->
                        <h3>{{ .Description }}</h3>

                        <p class="item-count">
                            <i class="far fa-file-alt"></i>
                            {{ .WordCount }} words
                        </p>
                    </div>
                </div>
            </section>
            <hr>
        {{ end }}
    </main>
{{ end }}

{{ define "title" }}
    {{ title .Section }} | {{ .Site.Title }}
{{ end }}

{{ define "rss" }}
    {{ if .RSSLink }}
        <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ title .Section }} | {{ .Site.Title }}" />
    {{ end }}
{{ end }}
