<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>404</title>
        <link rel="stylesheet" href="/css/main.css?{{ now.Unix }}">
    </head>
    <body class="{{ .Kind }}">
        <main>
            <h1>Ohnoes! 😱</h1>
            <p>
                That page was totes not found.
            </p>
            <p>
                How about checking out the <a href="/">home page</a>, instead?
            </p>
        </main>
    </body>
</html>
