{{ define "main" }}
    <main>
        <section>

            <!-- Date -->
            {{ partial "date" . }}

            <!-- Title -->
            {{ partial "title" . }}

            <!-- Year, Author -->
            <h2>{{ .Params.year }} by {{ .Params.author }}</h2>

            <!-- Rating -->
            <h3><cdn-rating rating="{{ .Params.rating }}"></cdn-rating></h3>

            <!-- Description-->
            <p>
                {{ .Description }}
            </p>
        </section>
        <section>
            {{ .Content }}
        </section>
        <section>
            {{ partial "categories" . }}
            {{ partial "tags" . }}
        </section>
        <section>
            {{ partial "links" . }}
        </section>
    </main>
{{ end }}

{{ define "title" }}
    {{ .Page.Title }} | {{ .Site.Title }}
{{ end }}
