{{ define "main" }}
    <main>
        <section>

            <!-- Date -->
            {{ partial "date" . }}

            <!-- Title -->
            {{ partial "title" . }}

            <!-- Year, Author -->
            <h2>
                {{ if .Params.author }}
                    by {{ .Params.author }}
                {{ end }}

                {{ if .Params.year }}
                    ({{ .Params.year }})
                {{ end }}
            </h2>

            <!-- Rating -->
            <cdn-rating rating="{{ .Params.rating }}"></cdn-rating>

        </section>
        <hr>
        <section>
            {{ .Content }}
        </section>
        <section>
            {{ partial "categories" . }}
            {{ partial "tags" . }}
        </section>
        <section>
            {{ partial "links" . }}
        </section>
    </main>
{{ end }}

{{ define "title" }}
    {{ .Page.Title }} | {{ .Site.Title }}
{{ end }}
