{{ define "main" }}
    <main>
        <h1>Pictures</h1>
        <p>
            I take a lot of pictures &mdash; with my phone, of course, but also with my
            <a href="https://www.usa.canon.com/internet/portal/us/home/products/details/cameras/dslr/eos-70d">Canon 70D</a>,
            which I lug around with me just about everywhere I go.
        </p>
        <p>
            See <a href="/collections">Collections</a> and <a href="/mobile">Mobile</a> for more.
        </p>
        <hr>
        {{ range .Paginator.Pages }}
            <section>

                <!-- Date -->
                {{ partial "date" . }}

                <!-- Title -->
                {{ partial "title" . }}

                <!-- Description -->
                <h3>{{ .Description }}</h3>

                {{ partial "list-items/photo" . }}
            </section>
            <hr>
        {{ end }}
    </main>
{{ end }}

{{ define "title" }}
    {{ title .Section }} | {{ .Site.Title }}
{{ end }}

{{ define "rss" }}
    {{ if .RSSLink }}
        <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ title .Section }} | {{ .Site.Title }}" />
    {{ end }}
{{ end }}
