{{ define "opengraph" }}
    {{ if .Title }}
        <meta property="og:title" content="{{ .Title }}" />
    {{ else }}
        <meta property="og:title" content="Untitled" />
    {{ end }}
    <meta property="og:image" content="{{ replace .Params.photo.preview "s3/" $.Site.Params.mediaRoot }}" />
{{ end }}

{{ define "main" }}
    <main>
        <section class="heading">

            <!-- Date -->
            {{ partial "date" . }}

            <!-- Title -->
            {{ partial "title" . }}

            <!-- Description -->
            <h2>{{ .Description }}</h2>
        </section>
        <section>
            {{ partial "single-items/photo" . }}
        </section>
        <section>
            {{ .Content }}
        </section>
        <hr>
        <section class="links">
            {{ partial "links" . }}
        </section>
        <section>
            {{ partial "categories" . }}
            {{ partial "tags" . }}
        </section>
    </main>
{{ end }}

{{ define "title" }}
    {{ .Page.Title }} | {{ .Site.Title }}
{{ end }}
