{{ define "main" }}
    <main>
        <h1>Movies</h1>
        <p>
            Most people know me <a href="https://github.com/cnunciato">as a
            programmer</a>, and that's cool &mdash; but as it turns out, I also studied film
            <a href="https://www.chapman.edu/dodge/index.aspx">in grad school</a>, so I
            see a lot of movies, and I like to keep a record of what I've seen and what I
            think about them.
        </p>
        <hr>
        {{ range .Pages }}
            <section>

                <!-- Date -->
                {{ partial "date" . }}

                <!-- Title -->
                {{ partial "list-items/title" . }}

                <!-- Rating -->
                <cdn-rating rating="{{ .Params.rating }}"></cdn-rating>

                <!-- Description -->
                <h3>{{ .Description }}</h3>

                {{ partial "categories" . }}
            </section>
            <hr>
        {{ end }}
    </main>
{{ end }}

{{ define "title" }}
    {{ title .Section }} | {{ .Site.Title }}
{{ end }}

{{ define "rss" }}
    {{ if .RSSLink }}
        <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ title .Section }} | {{ .Site.Title }}" />
    {{ end }}
{{ end }}
